<table>
    <tr>
        <th>id viaggio</th>
        <th>id prenotazione</th>
        <th>nome</th>
        <th>cognome</th>
        <th>posti prenotati</th>
        <th>opzioni</th>
    </tr>
<!--da fare ciclo for per mettere i dati e la subscribe-->
    <tr *ngFor="let pren of listaPren">
        <td>{{pren.id}}</td>
        <td>{{pren.}}</td>
        <td>nome</td>
        <td>cognome</td>
        <td>posti prenotati</td>
        <td><input type="button" value="modifica"><input type="button" value="elimina"></td>
    </tr>


</table>