<table>
    <tr>
        <th>id viaggio</th>
        <th>id prenotazione</th>
        <th>nome</th>
        <th>cognome</th>
        <th>posti prenotati</th>
        <th>opzioni</th>
    </tr>
    <!--da fare ciclo for per mettere i dati e la subscribe-->
    <tr *ngFor="let pren of listaPren">
        <td>{{pren.id_viaggio}}</td>
        <td>{{pren.id}}</td>
        <td>{{pren.nome}}</td>
        <td>{{pren.cognome}}</td>
        <td>{{pren.posti_prenotati}}</td>
        <td>
            <button (click)="showBookingHandler(pren.id)">SHOW</button>
            <button (click)="editBookingHandler(pren.id)">EDIT</button>
            <button (click)="deleteBookingHandler(pren.id)">DELETE</button>
        </td>
    </tr>


</table>